body {
    height: 100vh;
	font-family: 'lato';
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#8f97e7, #6377f0);
    text-align: center;
}

.nav {
    -moz-box-shadow:0px 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.nav ul {
    list-style: none;
    background-color: #4c5bee;
    text-align: center;
    padding: 0;
    margin: 0 0px;
}

.nav li{
    font-family: 'Tajawal';
    font-size: 1 em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin: 0 4px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #1326de;
}

.nav a.active {
    background-color: #2c3eef;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
    }
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}z

.pagecontent {
    position: relative;
    left: 10%;
    right: 10%;
    text-align: center;
    height: 750px;
    width: 80%;
    border: 5px solid black;
    background: linear-gradient(to bottom right, #abc8e9, #469cce);
}

.pagecontent a.titletext {
    font-size: 48px;
    font-family: 'Krona One';
    position: relative;
    top: 24px;
}

.pagecontent a.subtext {
    font-size: 22px;
    font-family: 'Autour One';
    position: relative;
    top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagecontent a.subtextnomargin {
    font-size: 22px;
    font-family: 'Autour One';
    position: relative;
    top: 30px;
}

.pagecontent img {
    position: relative;
    border: 4px solid black;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.desc {
    text-align: center;
    font-weight: normal;
    width: 100%;
    margin: 0px;
    opacity: 0;
}

div:hover .desc {
    opacity: 0.5;
}

div.desc {
    color: white;
    position: relative;
    top: 24px;
    font-size: 24px;
}

div.img img {
    max-width: 100%;
}

div.img {
    margin: 155px 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
    background: #f1f1f1;
    line-height: 0px;
    height: auto;
    width: 20%;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -mos-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-radius: 4px;
}

div.img img {
    display: inline-block;
    margin: 3px;
}

@keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.desc {
    text-align: center;
    font-weight: normal;
    width: 100%;
    margin: 0px;
    visibility: hidden;
}

div.img img {
    max-width: 100%;
}

div.img {
    margin: 155px 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
    background: black;
    line-height: 0px;
    height: auto;
    width: 20%;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -mos-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-radius: 4px;
}


div.img img {
    display: inline-block;
    margin: 3px;
}

@keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bgfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}